@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'JalnanGothic';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
margin:0;
padding: 0;
}
.title_img{
background-image: url('/educationImg.jpg');
width:100%;
height:300px;
background-repeat: no-repeat;
background-size: contain;
margin: 0 auto;
max-width: 100%;
}
.title_content{
padding-top: 7%;
font-family: 'JalnanGothic';
color:white;
text-align: center;
}
.bu_title1{
letter-spacing: 10px;
font-size:0.5em;
}
.bu_title2{
font-size:2.5em;    
}
.body{
    margin: 0 auto; 
    width:1260px;   
}
.body_title{
    text-align:center;
    font-size:1.5rem;
    font-family:'JalnanGothic';
    margin-bottom:5%;
}

.body_content{
    width:1250px;
    height:400px;
    text-align: center;
    position: relative;
    margin-bottom:12%;
}
.body_img{
    background-image: url(/cunsulting.jpg);
    background-size: cover;
    width:1000px;
    height:500px;   
    background-repeat: no-repeat;
    margin: auto;
    box-shadow: 5px 10px 30px 10px blue;
}
.body_text{
    font-family: 'JalnanGothic';
    margin-left:5%;

    font-size:1rem;
    position: absolute;
    color:white;
    top:10%;
    left:15%;
    font-size:1rem;
}
.level_content{
    width:1200px;
    height:400px;
    margin-bottom:5%;
    margin: 0 auto;
}

.levelImg{
    background-image: url(/leveltop.jpg);
    background-size: cover;
    width:  450px;
    height:450px;   
    background-repeat: no-repeat;
    margin: auto;
    float:left;
    clear: both;
    max-width: 100%;
    vertical-align: top;
    margin-right:10%;   
}
.levelText{
    color:black;
    font-size:1rem;
}
.happy_content{
    margin-top:10%;
    position: relative;
    text-align: center;
}
.happy_img{
    background-image: url(/headt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:50%;
    height:600px;
    opacity: 0.2;
    position:absolute;
    left:25%;
    box-shadow: 5px 10px 20px red;
}
.happy_title{
    font-size:2.5rem;
    font-family: 'JalnanGothic';    
}
.happy_content{
    font-size:1.2rem;
}