@font-face {
    font-family: 'KNUTRUTHTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KNUTRUTHTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'JalnanGothic';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0;
    padding:0;
}
.container{
    margin: 0 auto;
    width:1200px;
}
.title{
    margin-top:5%;
    margin-bottom:5%;
    text-align: center;
    font-size:1.5rem;
    font-family: 'JalnanGothic';
    font-weight: normal;
}
.Card{
    width:1200px;
    height:300px;
    margin: 0 auto;
    position: relative;
}

.Card_Img{
    background-image: url('/careful.jpg');
    width: 600px;
    height:300px;
    background-size: contain;
    background-repeat: no-repeat;
    float:left;
    margin-right:3%;
}

.Card_Title{
    color:black;
    }
.heal_content{
    font-family: 'TheJamsil5Bold';
    font-size: 16px;
    line-height: 1.6em;
    color: #2c2c2c;

}


.MindCard{
    margin-top:30px;
    width:1200px;
    height:400px;
    margin: 0 auto;
    border-radius: 20px;
}
.MindImg{
    background-image: url('/lifegraph.jpg');
    width:600px;
    height:400px;
    background-size: contain;
    background-repeat: no-repeat;
    float:left;
    margin-right:3%;
}
.Mindcontent{
    color:black;
}

.InnerCard{
    margin-top:30px;
    width:1200px;
    height:600px;
    margin: 0 auto;
    border-radius: 20px;
}
.InnerImg{
    background-image: url('/innerchild.jpg');
    width:600px;
    height:600px;
    background-size: contain;
    background-repeat: no-repeat;
    float:left;
    margin-right:3%;
}
.Innercontent{
    color:black;
}